.dropdown {
  position: absolute;
  right: 0;
  top: 40px;
  background-color: var(--drop-down-color);
  border-radius: 6px;
  min-height: 40px;
  min-width: 80px;
  width: fit-content;
  height: fit-content;
  max-width: 250px;
  max-height: 390px;
  overflow-y: auto;
  z-index: 10;
  padding-inline: 15px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown:hover{
  background-color: var(--modal-color);
  border: 1px solid var(--form-border);
}