.board {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 330px;
  word-wrap: break-word;
  background-color: var(--board-color);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  /* height: 100%; */
  height: calc(100vh - 170px);
  color: var(--board-text-color);
}

.board__border {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.board__title {
  margin: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 3px 3px 3px 2px;
}

.board__footer {
  display: flex;
  flex-direction: column;
}

.board__cards {
  padding: 0.5rem 0.5rem;
  overflow-y: auto;
}

.board__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.5rem;
  margin-bottom: 0;
}

.board__dropdown {
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.12);
  cursor: default;
}

.board__dropdown>p {
  border-bottom: 1px solid var(--drop-down-color);
  cursor: pointer;
}

.board__top>div>p:hover {
  cursor: pointer;
}

.emoji {
  margin-inline-end: 0.5rem;
}

.board__top>div>p {
  font-weight: bolder;
}

.total__cards {
  border-radius: 5px;
  padding-inline: 0.6rem;
  background-color: #eeedf3;
  margin-inline: 10px;
  border: none;
  color: #575089;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.title__input {
  font-weight: 400;
  /* padding-inline: 0.5rem; */
  height: 30px;
  border-radius: 5px;
}

.board__top>div {
  cursor: pointer;
}

.board__top input {
  margin: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.board__top input:focus-visible {
  outline: none;
  border: none;
}

.title__input {
  border: none;
}

/* .board__top > input {
} */