* {
    font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
}

.login__section {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--sidebar-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__container {
    min-width: 440px;
    /* margin: 0 auto; */
    background-color: var(--card-back-color);
    padding: 32px 32px 32px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 5px 20px 0 rgba(109, 110, 111, 0.08);
}

.google__login button {
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid #cfcbcb;
    font-size: 15px;
    border-radius: 7px !important;
    /* box-sizing: border-box; */
    cursor: pointer;
    display: flex;
    height: 48px;
    width: 100%;
    /* margin-top: 8px; */
    /* max-width: 300px; */
    /* overflow: hidden; */
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    transition-duration: 85ms;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: ease;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__button button {
    background-color: #736BC4;
    color: #fff;
    border: none;
    font-size: 15px;
    border-radius: 7px !important;
    /* box-sizing: border-box; */
    cursor: pointer;
    display: flex;
    height: 40px;
    width: 100%;
    /* margin-top: 8px; */
    /* max-width: 300px; */
    /* overflow: hidden; */
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    transition-duration: 85ms;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: ease;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google__login button:hover {
    /* border: unset; */
    border: 1px solid #AFABAC !important;
    background-color: var(--button-hover-color);
}

.google__login .google__icon {
    position: absolute;
    left: 32px;
}

.google__icon img {
    width: 25px;
    height: 25px;
}

.or__section {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.or__line {
    margin: 0 8px;
}

.before__line,
.after__line {
    border-top: 1px solid #edeae9;
    flex: 1 1 auto;
    margin-top: 8px;
    min-width: 1px;
    padding-top: 8px;
}

.email__section input,
.pwd__section input {
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid #AFABAC;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.email__section input:focus,
.pwd__section input:focus {
    outline: none;
}

.pwd__section,
.email__section {
    margin-top: 15px;
}

.eye__icons {
    position: absolute;
    right: 10px;
    top: 15px;
}

.lock__icon,
.email__icon {
    position: absolute;
    left: 10px;
    top: 15px;
}

.login__button {
    margin-top: 25px;
}

.login__button button:hover {
    background-color: #575089;
}

.email__section input,
.pwd__section input {
    margin-top: 7px;
    padding-left: 35px;
}

.not__account a {
    text-decoration: none;
}

.not__account {
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}

.login__section .right__container {
    background-color: var(--login-girl-container);
    height: 550px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    /* box-shadow: 0 5px 20px 0 rgba(109, 110, 111, 0.08); */
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__section .right__container img {
    object-fit: cover;
    height: 400px;
    width: 350px;
}

.kanban__logo,
.login__title {
    text-align: center;
}

.kanban__logo {
    margin-bottom: 32px;
}

.login__title {
    margin-bottom: 25px;
}

.email__section span,
.pwd__section span {
    font-size: 14px;
    font-weight: 500;
    color: #111111;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

.login__title h4,
.kanban__logo h3,
.email__section div span,
.pwd__section div span,
.or__line,
.not__account span {
    color: var(--text-color);
}